@mixin botones( $bt-fondo, $bt-hov-fondo){
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 5px 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    color: white;
    background: $bt-fondo;
    border: 1px solid $bt-fondo;
    &:hover{
        color: white;
        background: $bt-hov-fondo;
        border: 1px solid $bt-hov-fondo;
    }
}

.boton-enviar{
    @include botones( #198754, #136840)
}

.boton-limpiar{
    @include botones( #6c757d, #656a6e)
}



.boton-masinfo-volver{
    @include botones( #0d6efd, #1f4e94);
}

