.img_portada{
    height: 85%;
}

.nombre_portada{
    height: 15%;
    position: relative;
}

//error position sticky menu
.anchor_discografia{
    position: absolute;
    top: -100px;
    left: 0px;
}

.img_portada_in{
    width: 100%;
    height: 100%;
}


.titulo_nombre_portada{
    font-size: 1rem;
    font-weight: 250;
}


.discografia-2{
    button{
        margin-left: 40%;
    }
}

@media only screen and (max-width:576px){
    .cont-album{
        padding: 0;
    }

    .cont-discografia{
        padding-top: 50px;
    }   
}

@media only screen and (min-width:576px){
    .cont-discografia{
        padding-top: 60px;
    }
}

@media only screen and (min-width:768px){
    .cont-discografia{
        padding-top: 65px;
    }  
}

@media only screen and (min-width:992px){
    .cont-discografia{
        padding-top: 70px;
    }  
}