.main-home{
    width: 100%;
    height: 100%; 
}


/*CAROUSEL*/


.carousel-titulo{
    background: rgba(0, 0, 0, 0.404);
}

.carousel-parrafo{
    background: rgba(0, 0, 0, 0.404);
}

/*PRESENTACION INICIO*/
.presentacion-inicio{
    background: url(../../imagenes/bg-banda-inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titulo-presentacion{
        font-weight: 500;
        color: white;
        text-align: center;
    }
    .parrafo-presentacion{
        font-weight: 200;
        color: white;
        text-align: center;
    }
}


   
/*DISCO TRIBUTO*/


.contenido-inicio{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    text-align: center;

    h{
        text-align: center;
    }

    

    .contenido-inicio-1{
        color: black;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p{
            text-align: justify;          
        }
    }

    .contenido-inicio-2{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        p{
            text-align: justify;
        }

    }
}

.enlace_interno_inicio{
    position: relative;
}

.anchor-inicio{
    position: absolute;
    top: -115px;
    left: 0px;
}


/*VIDEO DE YOU TUBE*/



.contenedor-video-youtube{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%, 5%, 5%, 5%;

    .video-youtube{
        width: 90%;
        height: 90%;
        
    }
}

@media only screen and (max-width:576px){


// carousel

    .carousel{

        img{
        height: 300px;
        }
    }

    .carousel-titulo{
        font-size: 16px;
    }

    .carousel-parrafo{
        font-size: 12px;
    }
// fin carousel

// presentacion inicio

    .presentacion-inicio{

        height: 300px;
        .titulo-presentacion{
            font-size: 16px;
            letter-spacing: 3px;
        }
        .parrafo-presentacion{
            font-size: 12px;
            letter-spacing: 1px;
        }
    }


/*DISCO TRIBUTO*/


    .contenido-inicio{     
        
        h{
            font-size: 16px;          
        }

        .contenido-inicio-1{
            height: 220px;
        }
 
            p{
                width: 45%;
                font-size: 12px;                            
            }

            img{
                width: 40%;
                height: 70%;
                border-radius: 80px;
            }
        
            .contenido-inicio-2{
                height: 220px;
    
                p{
                    width: 45%;
                    font-size: 12px;                 
                }

                img{
                    width: 40%;
                    height: 70%;
                    border-radius: 50px;
                }
        }
    }

    .contenedor-video-youtube{
        height: 300px;
    }
}


@media only screen and (min-width:576px){
    
// carousel

.carousel{

    img{
    height: 400px;
    }
}

.carousel-titulo{
    font-size: 20px;
}

.carousel-parrafo{
    font-size: 16px;
}
// fin carousel

// presentacion inicio

.presentacion-inicio{

    height: 400px;
    .titulo-presentacion{
        font-size: 20px;
        letter-spacing: 5px;
    }
    .parrafo-presentacion{
        font-size: 16px;
        letter-spacing: 3px;
    }
}

/*DISCO TRIBUTO*/


.contenido-inicio{

    h{
        font-size: 20px;
    }

    .contenido-inicio-1{
        height: 250px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        p{
            width: 45%;
            font-size: 16px;          
            
        }
        img{
            width: 40%;
            height: 70%;
            border-radius: 80px;
        }
    }

        .contenido-inicio-2{
            height: 300px;
            width: 100%;
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;

            p{
                width: 45%;
                font-size: 16px;
            }

            img{
                width: 40%;
                height: 70%;
                border-radius: 50px;
            }
        }
    }

    .contenedor-video-youtube{
        height: 400px;
    }

}

@media only screen and (min-width:768px){

// carousel

.carousel{

    img{
    height: 500px;
    }
}

.carousel-titulo{
    font-size: 24px;
}

.carousel-parrafo{
    font-size: 18px;
}
// fin carousel

// presentacion inicio

.presentacion-inicio{

    height: 500px;
    .titulo-presentacion{
        font-size: 24px;
        letter-spacing: 7px;
    }
    .parrafo-presentacion{
        font-size: 18px;
        letter-spacing: 5px;
    }
}

/*DISCO TRIBUTO*/


.contenido-inicio{

    h{
        font-size: 24px;
    }

    .contenido-inicio-1{
        height: 300px;
    

        p{
            width: 45%;
            font-size: 18px;
        }      
        
        img{
            width: 40%;
            height: 80%;
            border-radius: 90px;
        }
    }

        .contenido-inicio-2{
            height: 300px;

            p{
                width: 45%;
                font-size: 18px;
            }

            img{
                width: 40%;
                height: 70%;
                border-radius: 65px;
            }
        }
    }

    .contenedor-video-youtube{
        height: 450px;
    }

}

@media only screen and (min-width:992px){


// carousel

.carousel{

    img{
    height: 600px;
    }
}

.carousel-titulo{
    font-size: 26px;
}

.carousel-parrafo{
    font-size: 20px;
}
// fin carousel

// presentacion inicio

.presentacion-inicio{

    height: 600px;
    .titulo-presentacion{
        font-size: 26px;
        letter-spacing: 8px;
    }
    .parrafo-presentacion{
        font-size: 20px;
        letter-spacing: 6px;
    }
}

/*DISCO TRIBUTO*/


.contenido-inicio{

    h{
        font-size: 26px;
    }

    .contenido-inicio-1{
        height: 300px;

        p{
            width: 45%;
            font-size: 20px;           
        }

        img{
            width: 40%;
            height: 80%;
            border-radius: 100px;
        }
    }

        .contenido-inicio-2{
            height: 300px;

            p{
                width: 45%;
                font-size: 20px;
            }

            img{
                width: 40%;
                height: 80%;
                border-radius: 80px;
            }
        }
    }

    .contenedor-video-youtube{
        height: 500px;
    }
}
