.main-home{
    width: 100%;
    height: 100%; 
}

/*CAROUSEL*/
.carousel-titulo{
    background: rgba(0, 0, 0, 0.404);
}

.carousel-parrafo{
    background: rgba(0, 0, 0, 0.404);
}

/*PRESENTACION INICIO*/
.presentacion-inicio{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    img{
        width: 25%;
        height: 40%;
    }
    .titulo-presentacion{
        color: white;
        text-align: center;
    }
    .parrafo-presentacion{
        color: white;
         text-align: justify;       
    }
}
  
.contenido-fecha{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    h2{
        text-align: center;
    }   
    .contenido-fecha-1{
        color: black;
        text-align: center;
        width: 100%;
        display: flex;
        p{
            text-align: justify;          
        }
        iframe{
            width: 70%;
            height: 100%;
            padding-bottom: 20px;
        }
    }
    .contenido-fecha-2{
        width: 100%;
        display: flex;
        p{
            text-align: justify;
        }
        img{
            width: 70%;
            height: 100%;
            padding-bottom: 20px;
        }
    }
}
// error de position sticky
.enlace_interno_inicio{
    position: relative;
}

.anchor-inicio{
    position: absolute;
    top: -100px;
    left: 0px;
}


/*VIDEO DE YOU TUBE*/
.contenedor-video-youtube{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .video-youtube{
        width: 90%;
        height: 90%;
        
    }
}

@media only screen and (max-width:576px){


    // carousel
    .carousel{
        img{
        height: 300px;
        }
    }

    .carousel-titulo{
        font-size: 16px;
    }

    .carousel-parrafo{
        font-size: 12px;
    }

    // presentacion inicio
    .presentacion-inicio{
        height: 330px;
        .titulo-presentacion{
            letter-spacing: 3px;
        }
        .parrafo-presentacion{
            letter-spacing: 1px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    // fecha recital
    .contenido-fecha{
        flex-direction: column;
        text-align: center; 
        h2{
            padding-bottom: 10px;
        }
        a{
            padding-bottom: 40px;
        }          
        .contenido-fecha-1{
            flex-direction: column;
            align-items: center;
            p{
                padding: 10px;         
            }
        }  
        .contenido-fecha-2{
            width: 100%;
            flex-direction: column;
            align-items: center;
            p{
                padding: 10px;
            }             
        }
    }

    .contenedor-video-youtube{
        height: 300px;
    }
}


@media only screen and (min-width:576px){
    
    // carousel
    .carousel{
        img{
        height: 400px;
        }
    }

    .carousel-titulo{
        font-size: 20px;
    }

    .carousel-parrafo{
        font-size: 16px;
    }

    // presentacion inicio
    .presentacion-inicio{
        height: 450px;
        .titulo-presentacion{
            letter-spacing: 5px;
        }
        .parrafo-presentacion{
            letter-spacing: 3px;
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    // fecha recital
    .contenido-fecha{
        flex-direction: column;
        text-align: center;
        h2{
            padding-bottom: 30px;
        }
        a{
            padding-bottom: 45px;
        }   
        .contenido-fecha-1{
            flex-direction: column-reverse;
            align-items: center;
            p{
                padding: 12px;         
            }
        }
        .contenido-fecha-2{
            flex-direction: column-reverse;
            align-items: center;
            p{
                padding: 12px;
            }     
        }
    }

    .contenedor-video-youtube{
        height: 400px;
    }

}

@media only screen and (min-width:768px){

    // carousel
    .carousel{
        img{
        height: 500px;
        }
    }

    .carousel-titulo{
        font-size: 24px;
    }

    .carousel-parrafo{
        font-size: 18px;
    }

    // presentacion inicio
    .presentacion-inicio{
        height: 550px;
        .titulo-presentacion{
            letter-spacing: 7px;
        }
        .parrafo-presentacion{
            letter-spacing: 5px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    // fecha recital
    .contenido-fecha{
        height: 100%;
        width: 100%;
        flex-direction: column;
        text-align: center;
        h2{
            padding-top: 30px;
        }
        a{
            padding-bottom: 45px;
        } 
        .contenido-fecha-1{
            width: 100%;
            height: 45%;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 30px;
            p{
                width: 50%;
                padding: 20px;         
            }
            iframe{
                width: 40%;
                height: 80%;
            }
        }
       .contenido-fecha-2{
            width: 100%;
            height: 45%;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 30px;
            p{
                width: 50%;
                padding: 20px;
            }     
            img{
                width: 40%;
                height: 60%;
            }
        }
    }

    .contenedor-video-youtube{
        height: 450px;
    }

}

@media only screen and (min-width:992px){


    // carousel
    .carousel{
        img{
        height: 600px;
        }
    }

    .carousel-titulo{
        font-size: 26px;
    }

    .carousel-parrafo{
        font-size: 20px;
    }

    // presentacion inicio
    .presentacion-inicio{

        .presentacion-inicio{
            height: 650px;
            .titulo-presentacion{
                letter-spacing: 8px;
            }
            .parrafo-presentacion{
                letter-spacing: 6px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .contenedor-video-youtube{
        height: 500px;
    }
}
