.main_integrantes{
    width: 100%;
    height: 2000px;
    background-color: $color-fondo-body;
}

.main_integrantes h1{
    text-align: center;
}

.card_integrante{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.card_integrante a{
    color: black;
    text-align: center;
}

.card_integrante a h3{
    padding: 5px;
}

.card_integrante img{
    height: 80%;
}

.enlace_interno_integrantes{
    position: relative;
}

.anchor{
    position: absolute;
    top: -115px;
    left: 0px;
}
  

/*TOM HAMPTON  ANIMACION*/

#card_tom_hamton_animacion{
    animation-name: animacion_tom_hamton;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes animacion_tom_hamton{
    0%{
        transform: translateX(-300px);
    }

    75%{
        transform: translateX(20px);
    }

    100%{
        transform: translate(0px, 0px);
    }

}

/*RICK LONOW ANIMACION*/

#card_rick_lonow_animacion{
    animation-name: animacion_rick_lonow;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes animacion_rick_lonow{
    0%{
        transform: translateY(500px);
    }

    75%{
        transform: translateY(-20px);
    }

    100%{
        transform: translate(0px, 0px);
    }
    
}



/*JACK SUNDRUD ANIMACION*/

#card_jack_sundrud_animacion{
    animation-name: animacion_jack_sundrud;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes animacion_jack_sundrud{
    0%{
        transform: translateX(300px);
    }

    75%{
        transform: translateX(-20px);
    }

    100%{
        transform: translate(0px, 0px);
    }
    
}



/*BIOGRAFIA INTEGRANTES*/

.biografia_integrante h2 {
    margin: 50px 5px 10px 5px;
    text-align: center;
    font-weight: 600;

}

.biografia_integrante p {
    font-size: 0.9rem;
    text-align: justify;
}

@media only screen and (max-width:768px){

.main_integrantes h1{
    font-size: 1 rem;
    padding: 25px 5px;
}

.card_integrante{
    z-index: 1;
}

.card_integrante a h3{
    font-size: 0.9rem;
}



/*BIOGRAFIA INTEGRANTES*/

.biografia_integrante h2 {
    font-size: 1rem;
}

.biografia_integrante p {

    margin: 30px 5px;
    font-size: 0.9rem;
}

}

@media only screen and (min-width:768px){

.main_integrantes h1{
    font-size: 1.2 rem;
    padding: 45px 10px;
}

.contenedor_cards{
    display: flex;
    height: 350px;
    width: 100%;
    z-index: 1;
}




.card_integrante a h3{
    font-size: 1rem;
}



/*BIOGRAFIA INTEGRANTES*/

.biografia_integrante h2 {

      font-size: 1.1rem;
}

.biografia_integrante p {

    margin: 30px 30px;
    font-size: 1rem;
}

}

@media only screen and (min-width:1200px){

.main_integrantes h1{
    font-size: 50px;
    padding: 55px 20px;
    font-weight: 500;
}

.contenedor_cards{
    height: 450px;
}

.card_integrante{
    height: 400px;   
}


.card_integrante a h3{
    font-size: 30px;
    padding: 10px;
}



/*BIOGRAFIA INTEGRANTES*/

.biografia_integrante h2 {

     font-size: 40px;
}

.biografia_integrante p {

    margin: 40px 40px;
    font-size: 30px;
}
    
}

