.main_integrantes{
    width: 100%;
    height: 100%;
    background-color: $color-fondo-body;
}


//error position sticky menu
.enlace_interno_integrantes{
    position: relative;
}

.anchor{
    position: absolute;
    top: -90px;
    left: 0px;
}
  
